In [2]:
import pandas as pd
import numpy as np  

data = pd.Series([1, np.nan, 3.5, np.nan, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [3]:
revise_data = data.dropna()

revise_data

0    1.0
2    3.5
4    7.0
dtype: float64

In [4]:
df_data = pd.DataFrame([[1, np.nan, 2], [2, 3, 5], [np.nan, 4, 6], [pd.NA, None, pd.NA]])

df_data

      0    1     2
0     1  NaN     2
1     2  3.0     5
2   NaN  4.0     6
3  <NA>  NaN  <NA>

In [ ]:
# FILL IN ALL MISSING DATA USING THE FILLNA FUNCTION

print(df_data.fillna(0))

   0    1  2
0  1  0.0  2
1  2  3.0  5
2  0  4.0  6
3  0  0.0  0

In [14]:
dirty_df = pd.DataFrame(np.random.standard_normal((6,3)))
dirty_df.iloc[2:, 0] = np.nan
dirty_df.iloc[4:, 2] = np.nan

dirty_df

          0         1         2
0  1.380792  1.360513  1.463064
1  1.776550  0.345234 -0.258062
2       NaN -1.756768  0.465043
3       NaN -1.775325  0.481330
4       NaN  0.081512       NaN
5       NaN -0.451288       NaN

In [15]:
# FILL IN ALL MISSING DATA USING THE FILL FUNCTION WITH "ffill"

print(dirty_df.fillna(method="ffill"))

          0         1         2
0  1.380792  1.360513  1.463064
1  1.776550  0.345234 -0.258062
2  1.776550 -1.756768  0.465043
3  1.776550 -1.775325  0.481330
4  1.776550  0.081512  0.481330
5  1.776550 -0.451288  0.481330

/tmp/ipykernel_302141/1874551166.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(dirty_df.fillna(method="ffill"))