In [25]:
# STRINGS USING SPLIT

val = 'a,b, dumbo'


split_array = val.split(',')

print(split_array)

pieces = [x.strip() for x in val.split(',')]

print(pieces)

['a', 'b', ' dumbo']
['a', 'b', 'dumbo']

In [26]:
# STRINGS USING JOIN

joined_string = ",".join(pieces)    
print(joined_string)

a,b,dumbo

In [27]:
#STRING USING REPLACE

replaced_string = joined_string.replace(",", ":")

print(replaced_string)

a:b:dumbo

In [28]:
#REGULAR EXPRESSIONS

import re

text = "foo bar baz qux"

print(text)

results = re.split(r"\s+", text)

print(results)

foo bar baz qux
['foo', 'bar', 'baz', 'qux']

In [29]:
rege = re.compile(r"a")

rege.findall(text)

['a', 'a']

In [ ]:
#STRING  FUNCTIONS IN PANDAS
import numpy as np
import pandas as pd

data ={"Dave": "dave@google.com", "Steve" : "steve@gmail.com", "Rob" : "rob@google.com", "Wes" : np.nan}

print(type(data))

data = pd.Series(data)

print(type(data))

print(data)

<class 'dict'>
<class 'pandas.core.series.Series'>

NameError: name 'dataS' is not defined